@import '../styles/vars.scss';

.title {
  margin-bottom: 30px;
  font-family: 'Crete Round', serif;
}

.items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  width: 22%;
  font-family: 'Balsamiq Sans', cursive;
  margin: 15px;

  img {
    width: 100%;
  }
}

.item__name {
  text-align: center;
  min-height: 60px;
  font-size: 24px;
  font-family: 'Balsamiq Sans', cursive;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.switcher {
  display: block;
  justify-content: space-between;
  border-radius: 7px;

  background-color: #efefef;

  margin-bottom: 10px;
}

.dough,
.sm__block {
  display: flex;
  text-align: center;
  padding: 10px;
  justify-content: space-between;
  input {
    display: none;
  }

  li {
    cursor: pointer;
  }
}

.switch__dough,
.switch__size {
  width: 50%;
  text-align: center;
  padding: 5px;
}

.actives {
  width: 100%;
  height: 100%;
  background-color: $orange;
  border-radius: 7px;
}

.price__add {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

@media (max-width: 390px) {
  .title {
    margin-left: 20px;
  }
  .item {
    width: 100%;
    img {
      display: flex;
      width: 90%;
      margin: 0 auto;
    }
  }
}
