.sorting {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.catigories {
  display: flex;
}
.catigories__btn {
  display: flex;
  list-style: none;
}

.btn {
  &--cat {
    background-color: rgb(231, 227, 227);
    margin-right: 5px;
    color: black;
  }
}

.sort {
  display: flex;
  p {
    margin: 0;
  }

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}

.active {
  background-color: rgb(255, 127, 22);
  color: #ffffff;
}

.sort__popop {
  ul {
    position: absolute;
    margin-top: 20px;
    right: 50px;
    list-style: none;
    border-radius: 7px;
    text-align: center;
    padding-inline-start: 0;
    border: 1px solid black;
    background: #efefef;
    &:last-child .active {
      border-radius: 7px;
    }
    li {
      padding: 10px 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 390px) {
  .sorting {
    display: block;
    width: 100%;
  }

  .catigories__btn {
    flex-wrap: wrap;
    li {
      margin-bottom: 10px;
    }
  }
  .sort {
    justify-content: flex-end;
    margin-right: 20px;
  }
}
