.sorting {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.catigories {
  display: flex;
  // justify-content: space-between;
}
.catigories__btn {
  display: flex;
  list-style: none;
}

.btn {
  &--cat {
    background-color: rgb(231, 227, 227);
    margin-right: 5px;
    color: black;

    // &:hover {
    //   top: -10px;
    //   cursor: pointer;
    // }
  }
}

.sort {
  display: flex;
  p {
    margin: 0;
  }

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}

.active {
  background-color: rgb(255, 127, 22);
  color: #ffffff;
}

.sort__popop {
  ul {
    position: absolute;
    margin-top: 20px;
    right: 50px;
    list-style: none;
    border-radius: 7px;
    text-align: center;
    padding-inline-start: 0;
    border: 1px solid black;
    li {
      padding: 10px 30px;

      &:hover {
        // background-color: darken(10%);
        cursor: pointer;
      }
    }
  }
}
