.ass {
  display: flex;
  justify-content: space-between;
}

.catigories {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.catigories__btn {
  display: flex;
  list-style: none;
}

.btn {
  &--cat {
    background-color: rgb(231, 227, 227);
    margin-right: 5px;
    color: black;

    &:hover {
      top: -10px;
      //   background-color: darken(rgb(231, 227, 227), 10%);
      //   color: #fff;
      //   cursor: pointer;
    }
  }
}

.active {
  background-color: rgb(255, 127, 22);
  color: #fff;
}

.sortpopop {
  ul {
    width: 200px;
    border-radius: 7px;
    text-align: center;
    padding-inline-start: 0;
    background-color: #ccc;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      height: 30px;
    }

    li:hover {
      cursor: pointer;
      color: #fff;
      background: rgb(255, 127, 22);
    }
  }
}
