.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  height: 50px;
  //   border-bottom: 1px solid gray;
}

.nav__left {
  display: flex;
  height: 100%;
}

.nav__elements {
  width: 200px;
}

.nav__title {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 22px;
}

.nav__subtitle {
  font-size: 14px;
  font-family: 'Crete Round', serif;
  opacity: 0.7;
}

.basket {
  //   background-color: #ff1;
  height: 30px;
  width: 30px;
}
