@import '../styles/vars.scss';

.header {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  height: 55px;
}

.hz {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: black;
}
.nav {
  &__left {
    display: flex;
    height: 100%;
    align-items: center;

    img {
      height: 100%;
    }
  }

  &__right {
    display: flex;
    height: 100%;
    gap: 20px;
    align-items: center;
  }
  &__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    cursor: pointer;
  }
}
.nav__elements {
  width: 200px;
}

.nav__title {
  font-family: 'Montserrat', cursive;
  font-size: 22px;
}

.nav__subtitle {
  font-size: 14px;
  font-family: 'Crete Round', serif;
  opacity: 0.7;
}

.basket_link {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.basket__btn {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  background-color: black;
  font-weight: 900;
  // background-color: rgb(255, 127, 22);
  border: 1px solid $gray;
  border-radius: 20px;
  height: 35px;
}

.left__basket,
.right__basket {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  color: white;
  img {
    height: 25px;
  }
}

.left__basket {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 500px) {
  .nav {
    // &__logo {
    //   display: none;
    // }

    &__subtitle {
      display: none;
    }

    &__right {
      gap: 0;
    }
  }
  .nav__elements {
    width: auto;
  }
  .nav__title {
    font-size: 15px;
  }
  .basket__btn {
    padding: 10px 0;
  }

  .right__basket {
    padding: 6px;
  }
}
