.header {
  display: flex;
  // align-items: center;
  text-decoration: none;
  justify-content: space-between;
  padding: 10px 0;
  height: 50px;
  //   border-bottom: 1px solid gray;
}

.hz {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.nav__left {
  display: flex;
  height: 100%;
}

.nav__elements {
  width: 200px;
}

.nav__title {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 22px;
}

.nav__subtitle {
  font-size: 14px;
  font-family: 'Crete Round', serif;
  opacity: 0.7;
}

.basket_link {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.basket {
  display: flex;
  background-color: rgb(255, 127, 22);
  border-radius: 20px;
  height: 35px;
}

.left__basket,
.right__basket {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  color: black;
  img {
    height: 25px;
  }
}

.left__basket {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 390px) {
  .header {
    padding: 15px;
  }
  .nav__elements {
    width: auto;
  }
}
