@import '../styles/vars.scss';

.basket__item {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  justify-content: space-between;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.left__side {
  display: flex;
  width: 500px;
}

.basket__img {
  width: 90px;
  height: auto;
}

.cart__title {
  display: flex;
  color: $orange;
}

.cart__logo {
  width: 30px;
}

.item__subtitle {
  color: $darkGray;
}

.count__buttons {
  display: flex;
  align-items: center;
}

.count {
  margin: 0 20px;
}

.circle__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
  border-style: solid;
  border-color: $orange;
  color: $orange;
  font-weight: 900;
  // font-size: 22px;
  outline: none;
  width: 30px;
  height: 30px;
  &:hover {
    background-color: $orange;
    transition: all ease 0.2s;
    color: white;
  }
}

.close__btn {
  width: 30px;
  cursor: pointer;
  height: auto;
  border: none;
  background-color: inherit;
  outline: none;
}

.close {
  width: 100%;
  height: auto;
}

.cost {
  display: flex;
  align-items: center;
}

.clean__div {
  display: flex;
  align-items: center;
  text-align: right;
  float: right;
  margin-top: -30px;
  margin-right: 20px;
}

.clean_cart {
  display: flex;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.trash__img {
  width: 16px;
  height: auto;
}

.pay__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.price__pay {
  display: flex;
  align-items: center;
}

.btn--pay {
  margin-left: 10px;
}

.empty__h1 {
  text-align: center;
}

.empty__img {
  display: flex;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .cart__title {
    margin-left: 20px;
  }

  .basket__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 5px;
    gap: 5px;
  }

  .left__side {
    width: auto;
  }

  .cost {
    justify-content: center;
  }

  .empty__img {
    width: 100%;
  }

  .count__buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
  }
  .count {
    margin: 0;
  }
}
