@import '../styles/vars.scss';

.basket__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basket__item {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

  &:first-child {
    border-top: 1px solid $gray;
  }
}

.person__cart {
  display: grid;

  grid-template-columns: auto 1fr;
  gap: 10px;

  background-color: aquamarine;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  &__img {
    // grid-area: img;
    // position: absolute;
    width: 100px;
    height: 100px;
    top: -40px;
    left: 20px;
    border: 5px solid #fff;
    border-radius: 100%;
  }
  &__data {
    display: flex;
    flex-direction: column;
  }
  h2 {
    // grid-area: h2;
  }
}

.left__side {
  display: flex;
  width: 500px;
}

.basket__img {
  width: 90px;
  height: auto;
}

.cart__title {
  display: flex;
  color: $orange;
}

.cart__logo {
  width: 30px;
}

.item__subtitle {
  color: $darkGray;
}

.count__buttons {
  display: flex;
  align-items: center;
}

.count {
  margin: 0 20px;
}

.circle__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
  border-style: solid;
  border-color: $gray;
  color: black;
  font-weight: 900;
  // font-size: 22px;
  outline: none;
  width: 30px;
  height: 30px;
  &:hover {
    background-color: black;
    transition: all ease 0.2s;
    color: white;
  }
}

.close__btn {
  width: 30px;
  cursor: pointer;
  height: auto;
  border: none;
  background-color: inherit;
  outline: none;
}

.close {
  width: 100%;
  height: auto;
}

.cost {
  display: flex;
  align-items: center;
}

.clean__div {
  display: flex;
  align-items: center;
  text-align: right;
  float: right;
  margin-top: -30px;
  margin-right: 20px;
}

.clean_cart {
  display: flex;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.trash__img {
  width: 16px;
  height: auto;
}

.pay__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.price__pay {
  display: flex;
  align-items: center;
}

.btn--pay {
  margin-left: 10px;
}

.empty__h1 {
  text-align: center;
}

.empty__img {
  display: flex;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .person__cart {
    width: 100%;
  }

  .cart__title {
    margin-left: 20px;
  }

  .basket__item {
    display: grid;
    grid-template-columns: 1fr auto 25%;

    padding: 5px;
    gap: 5px;
  }

  .left__side {
    width: auto;
  }

  .cost {
    justify-content: center;
  }

  .empty__img {
    width: 100%;
  }

  .count__buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
  }
  .count {
    margin: 0;
    order: 2;
  }

  .plus {
    order: 1;
  }

  .minus {
    order: 3;
  }
}
