@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');
@import './styles/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');
* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

body {
  // font-family: 'Balsamiq Sans', cursive;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  background-color: aliceblue;
  min-height: 100vh;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
}

.btn {
  // border-radius: 20px;
  font-family: inherit;
  border: none;
  padding: 10px 20px;
  // background-color: $orange;

  color: #fff;
  outline: none;
  cursor: pointer;

  &--add {
    font-family: inherit;
    background-color: $blue;
    border-radius: 5px;
    // border: 2px solid $orange;
    font-weight: 700;
    // color: $orange;
    // background-color: inherit;
    &:hover {
      background-color: lighten($blue, 10%);
      color: #fff;
    }
  }
}
